#topBar{
	background-color: #f8f8f8;
}

#headKategoriDiv{
	display:none;
	padding: 8px 15px;
	margin-right: 69px;
}

	#headKategoriDiv a span{
		margin: 0 3px 2px 0;
	}

.headKategoriItem:hover{
	text-decoration: none !important;
}

/* memperbesar search icon
#searchIcon{
	font-size: 24px;
}
*/

#searchRow{
	margin: 15px 0 30px 0;
}

#searchBox{
	margin: 0 auto !important;
	float: none !important;
}

#footer{
	margin-top: 15px;
	padding-top: 15px;
	background-color: #f8f8f8;
}